<div class="hero-unit">
  <h1>Listing users</h1>
  <br ng-show="!currentUser"/>
  <p ng-show="currentUser">Current user: {{ currentUser.name }}</p>
  <form class="form-inline">
    <input type="text" ng-model="nameCreate">
    <button class="btn" ng-click="createUser()">Add user</button>
    <button class="btn" ng-click="createProject()">Add project</button>
  </form>
  <ul>
    <li ng-repeat="user in users"><a ng-click="changeUser(user)">{{user.name}}</a></li>
  </ul>
  <div ng-show="currentUser">
    <h3>Tasks</h3>
    <ul>
      <li ng-repeat="task in currentTasks"><a ng-click="changeTask(task)">{{task.name}}</a></li>
    </ul>
    <div ng-show="currentTask">
      <form class="form-inline">
        <input type="text" ng-model="currentTask.name">
        <button class="btn" ng-click="createTask()" ng-show="!currentTask._id">Add</button>
        <button class="btn" ng-click="updateTask()" ng-show="currentTask._id">Update</button>
        <button class="btn" ng-click="clearTask()" ng-show="currentTask._id">Cancel</button>
      </form>
    </div>
    <h3>Projects</h3>
    <label class="checkbox"
        ng-repeat="project in projects">
      <input type="checkbox" ng-model="currentProjects[project._id]"> {{project.name}}
    </label>
    <button class="btn" ng-click="saveUser()">Save</button>
  </div>
</div>
