<div class="hero-unit">
  <h1>Listing users</h1>
  <p ng-show="currentUser">Current user: {{ currentUser.name }}</p>
  <ul>
    <li ng-repeat="user in users"><a ng-click="changeUser(user)">{{user.name}}</a></li>
  </ul>
  <div ng-show="currentUser">
    <h3>Tasks</h3>
    <ul>
      <li ng-repeat="task in currentTasks"><a ng-click="changeTask(task)">{{task.name}}</a></li>
    </ul>
    <div ng-show="currentTask">
      <input type="text" ng-model="currentTask.name">
      <button ng-click="createTask()" ng-show="!currentTask._id">Add</button>
      <button ng-click="updateTask()" ng-show="currentTask._id">Update</button>
      <button ng-click="clearTask()" ng-show="currentTask._id">Cancel</button>
    </div>
  </div>
</div>
